.project-suppstore {
  --color-text-400: #1c1c1a;
  --color-text-300: #5c5b54;

  --color-hover: #ff3e3e;
  --color-hover-text: #ffffff;

  --color-accent-400: #ff3e3e;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #d3cdb2;
  --color-grayscale-400: #eae6d0;

  --color-background-400: #f7f3e3;
  --color-background-300: #fcfaf2;
}

.project-fourteenislands {
  --color-text-400: #0f172a;
  --color-text-300: #475569;

  --color-hover: #0284c7;
  --color-hover-text: #ffffff;

  --color-accent-400: #0284c7;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #cbd5e1;
  --color-grayscale-400: #e2e8f0;

  --color-background-400: #e0f2fe;
  --color-background-300: #f0f9ff;
}

.project-locanto {
  --color-text-400: #1c1917;
  --color-text-300: #57534e;

  --color-hover: #f58220;
  --color-hover-text: #ffffff;

  --color-accent-400: #f58220;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #d6d3d1;
  --color-grayscale-400: #e7e5e4;

  --color-background-400: #ffedd5;
  --color-background-300: #fff7ed;
}

.project-aubergeduvillage {
  --color-text-400: #27272a;
  --color-text-300: #52525b;

  --color-hover: #d97706;
  --color-hover-text: #ffffff;

  --color-accent-400: #d97706;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #e4e4e7;
  --color-grayscale-400: #f4f4f5;

  --color-background-400: #fef3c7;
  --color-background-300: #fffbeb;
}

.project-masonsaupair {
  --color-text-400: #1e1b4b;
  --color-text-300: #4338ca;

  --color-hover: #9333ea;
  --color-hover-text: #ffffff;

  --color-accent-400: #9333ea;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #e0e7ff;
  --color-grayscale-400: #f5f3ff;

  --color-background-400: #faf5ff;
  --color-background-300: #ffffff;
}

.project-planetafirst {
  --color-text-400: #064e3b;
  --color-text-300: #047857;

  --color-hover: #059669;
  --color-hover-text: #ffffff;

  --color-accent-400: #059669;
  --color-accent-text-400: #ffffff;

  --color-grayscale-500: #d1fae5;
  --color-grayscale-400: #ecfdf5;

  --color-background-400: #ecfdf5;
  --color-background-300: #f0fdf4;
}

.project-balancedpitch {
  --color-text-400: #f7f0dc;
  --color-text-300: #d9c69d;

  --color-hover: #caff35;
  --color-hover-text: #11130d;

  --color-accent-400: #caff35;
  --color-accent-text-400: #11130d;

  --color-grayscale-500: #4a412d;
  --color-grayscale-400: #74613c;

  --color-background-400: #17140f;
  --color-background-300: #0d0b08;
}
